In [13]:
import pandas as pd

df1 = pd.read_excel("Data-file-Europe-Power-Sector-2020.xlsx", sheet_name= "Data")

In [14]:
df1

,Year,Area,Variable,Generation (TWh),Share of production (%),Change on last year (%),Change on last year (TWh)
0,2000,Austria,Fossil,16.418859,27.432215,NaN,NaN
1,2000,Austria,Coal,5.727000,9.568527,NaN,NaN
2,2000,Austria,Hard Coal,4.435000,7.409886,NaN,NaN
3,2000,Austria,Lignite,1.292000,2.158641,NaN,NaN
4,2000,Austria,Gas,7.851000,13.117252,NaN,NaN
...,...,...,...,...,...,...,...
10705,2020,United Kingdom,Bioenergy,35.468198,11.610779,4.415895,1.500000
10706,2020,United Kingdom,Other renewables,0.009298,0.003044,0.000000,0.000000
10707,2020,United Kingdom,Production,305.476470,NaN,-4.393771,-14.038769
10708,2020,United Kingdom,Net imports,18.213088,NaN,-13.597032,-2.866151
10709,2020,United Kingdom,Demand,323.689558,NaN,-4.963357,-16.904920

In [15]:
df2 = df1.drop(df1[df1.Year == 2000].index)

#df = df.drop(df[df.score < 50].index)
df2

,Year,Area,Variable,Generation (TWh),Share of production (%),Change on last year (%),Change on last year (TWh)
510,2001,Austria,Fossil,18.819009,30.824452,14.618251,2.400150
511,2001,Austria,Coal,6.893000,11.290337,20.359700,1.166000
512,2001,Austria,Hard Coal,5.299000,8.679456,19.481398,0.864000
513,2001,Austria,Lignite,1.594000,2.610880,23.374613,0.302000
514,2001,Austria,Gas,8.746000,14.325444,11.399822,0.895000
...,...,...,...,...,...,...,...
10705,2020,United Kingdom,Bioenergy,35.468198,11.610779,4.415895,1.500000
10706,2020,United Kingdom,Other renewables,0.009298,0.003044,0.000000,0.000000
10707,2020,United Kingdom,Production,305.476470,NaN,-4.393771,-14.038769
10708,2020,United Kingdom,Net imports,18.213088,NaN,-13.597032,-2.866151
10709,2020,United Kingdom,Demand,323.689558,NaN,-4.963357,-16.904920

In [16]:
df2.to_csv("Data.csv")

In [17]:
df3 = pd.read_csv("Data.csv")
df3

,Unnamed: 0,Year,Area,Variable,Generation (TWh),Share of production (%),Change on last year (%),Change on last year (TWh)
0,510,2001,Austria,Fossil,18.819009,30.824452,14.618251,2.400150
1,511,2001,Austria,Coal,6.893000,11.290337,20.359700,1.166000
2,512,2001,Austria,Hard Coal,5.299000,8.679456,19.481398,0.864000
3,513,2001,Austria,Lignite,1.594000,2.610880,23.374613,0.302000
4,514,2001,Austria,Gas,8.746000,14.325444,11.399822,0.895000
...,...,...,...,...,...,...,...,...
10195,10705,2020,United Kingdom,Bioenergy,35.468198,11.610779,4.415895,1.500000
10196,10706,2020,United Kingdom,Other renewables,0.009298,0.003044,0.000000,0.000000
10197,10707,2020,United Kingdom,Production,305.476470,NaN,-4.393771,-14.038769
10198,10708,2020,United Kingdom,Net imports,18.213088,NaN,-13.597032,-2.866151
10199,10709,2020,United Kingdom,Demand,323.689558,NaN,-4.963357,-16.904920

In [18]:
df3.reset_index(drop=True, inplace=True)
df3

,Unnamed: 0,Year,Area,Variable,Generation (TWh),Share of production (%),Change on last year (%),Change on last year (TWh)
0,510,2001,Austria,Fossil,18.819009,30.824452,14.618251,2.400150
1,511,2001,Austria,Coal,6.893000,11.290337,20.359700,1.166000
2,512,2001,Austria,Hard Coal,5.299000,8.679456,19.481398,0.864000
3,513,2001,Austria,Lignite,1.594000,2.610880,23.374613,0.302000
4,514,2001,Austria,Gas,8.746000,14.325444,11.399822,0.895000
...,...,...,...,...,...,...,...,...
10195,10705,2020,United Kingdom,Bioenergy,35.468198,11.610779,4.415895,1.500000
10196,10706,2020,United Kingdom,Other renewables,0.009298,0.003044,0.000000,0.000000
10197,10707,2020,United Kingdom,Production,305.476470,NaN,-4.393771,-14.038769
10198,10708,2020,United Kingdom,Net imports,18.213088,NaN,-13.597032,-2.866151
10199,10709,2020,United Kingdom,Demand,323.689558,NaN,-4.963357,-16.904920

In [19]:
df2.to_csv("Data.csv", index=False)

In [20]:
df3 = pd.read_csv("Data.csv")
df3

,Year,Area,Variable,Generation (TWh),Share of production (%),Change on last year (%),Change on last year (TWh)
0,2001,Austria,Fossil,18.819009,30.824452,14.618251,2.400150
1,2001,Austria,Coal,6.893000,11.290337,20.359700,1.166000
2,2001,Austria,Hard Coal,5.299000,8.679456,19.481398,0.864000
3,2001,Austria,Lignite,1.594000,2.610880,23.374613,0.302000
4,2001,Austria,Gas,8.746000,14.325444,11.399822,0.895000
...,...,...,...,...,...,...,...
10195,2020,United Kingdom,Bioenergy,35.468198,11.610779,4.415895,1.500000
10196,2020,United Kingdom,Other renewables,0.009298,0.003044,0.000000,0.000000
10197,2020,United Kingdom,Production,305.476470,NaN,-4.393771,-14.038769
10198,2020,United Kingdom,Net imports,18.213088,NaN,-13.597032,-2.866151
10199,2020,United Kingdom,Demand,323.689558,NaN,-4.963357,-16.904920